.env
.git
.gitignore
.gitattributes
.vite
node_modules
npm-debug.log
vendor
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
testsprite_tests
*.md
.editorconfig
.phpunit.result.cache
